<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="GiyimMağazası.Properties.Settings.MağazaKayitConnectionString"
            connectionString="Data Source=.\SQLEXPRESS,55222;Initial Catalog=MağazaKayit;Integrated Security=True;Encrypt=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="GiyimMağazası.Properties.Settings.MağazaKayitConnectionString1"
            connectionString="Data Source=localhost;Initial Catalog=MağazaKayit;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>